@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .box-shadow-hard {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }
}
